<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    //라이브러리추가
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>

<body>

<script>
    let IMP = window.IMP;
    IMP.init("imp40845004");
    IMP.request_pay({
        pg: "TC0ONETIME",//이니시스 웹표준 결제창
        pay_method: "kakaoPay",//결제방법
        name: "포인트",//상품명
        amount: 19000,//가격
    }, function (rsp) {
        console.log(rsp);
        if (rsp.success) {
            // 결제 성공 시 백엔드로 요청을 보냄
            axios.post('localhost:80/account/recharge', {
                imp_uid: rsp.imp_uid, // 아임포트 거래 고유번호
                paid_amount: rsp.paid_amount // 결제 금액
            })
            .then(function (response) {
                console.log(response);
                alert("결제가 완료되었습니다.");
            })
            .catch(function (error) {
                console.error(error);
                alert("결제에 실패하였습니다.");
            });
        } else {
            alert("결제에 실패하였습니다.");
        }
    });

</script>
</body>

</html>